<div class="row">
    <h1>Educuaion</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
                <button class="btn btn-outline-light" type="button">Eliminar</button>
              </div>
            <li><h2>Full Stack Developer Jr - Argentina Programa.</h2> <h3>2022-2023</h3></li>
        </ul>
        <ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
                <button class="btn btn-outline-light" type="button">Eliminar</button>
              </div>
            <li><h2>Doctorado en Ciencia y Tecnología de los Materiales.</h2> <h3>2019-Actualidad</h3></li>
        </ul>
        <ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
                <button class="btn btn-outline-light" type="button">Eliminar</button>
              </div>
            <li><h2> Maestría en Estudio de Materiales.</h2> <h3>Incompleta</h3></li>            
        </ul>
        <ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
                <button class="btn btn-outline-light" type="button">Eliminar</button>
              </div>
            <li><h2> Licenciatura en Quìmica.</h2> <h3>2005-2014</h3></li>
        </ul>
    </div>
