<div class="row">
    <h1>Experiencia Laboral</h1>
    
    <div class="col-lg-12">
        <ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
                <button class="btn btn-outline-light" type="button">Eliminar</button>
              </div>
            <li><h1> Investigador.</h1> <h3> 2019-Actualidad</h3></li>
            <p>Laboratorio de Polímeros y Sistemas Complejos. Departamento de Física-U.N.S, Argentina. Desarrollo de técnicas experimentales aplicadas a materiales poliméricos que presentan alta resistencia al impacto.</p>
        </ul>
        <ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
                <button class="btn btn-outline-light" type="button">Eliminar</button>
              </div>
            <li><h1> Ayudante A de primera.</h1> <h3> 2020-2022</h3></li>
            <p>Departamento de Física-U.N.S, Argentina. Guiar a los estudiantes durante las prácticas de ejercicios de Física General y Física I. </p>
        </ul>
        <ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
                <button class="btn btn-outline-light" type="button">Eliminar</button>
              </div>
            <li><h1> Personal Docente y de Investigación.</h1> <h3> 2015-Actualidad</h3></li>
            <p>Grupo de investigación de Procesos Dinámicos en Química, Facultad de Ciencias-U.L.A, Venezuela. Desarrollo de actividades docentes las catedras de Química general 11, Química general 21, Laboratorio de Química 21, Laboratorio de Fisicoquímica I. Colaboración en diversos proyectos de investigación referentes a cálculos de estructura electrónica usando herramientas computacionales como Gaussian, además de análisis geométricos y energéticos a diversos sistemas orgánicos.</p>
        </ul>
        <ul>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
                <button class="btn btn-outline-light" type="button">Eliminar</button>
              </div>
            <li><h1> Asistente del Laboratorio de Fisicoquímica I y II. </h1> <h3> 2009-2013</h3></li>
            <p>Laboratorio Docente de Fisicoquímica, Departamento de Química, Facultad de Ciencias-U.L.A, Venezuela. Guiar a los estudiantes de esta materia, para un mejor desenvolvimiento en el laboratorio, en cuanto al montaje de equipos, aplicación de técnicas, normas de seguridad.</p>
        </ul>
    </div>
</div>
