<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1> Trabajo 1</h1> - <h3> Anos</h3></li>
            <p>Descripcion del trabajo</p>
        </ul>
        <ul>
            <li><h1> Trabajo 2</h1> - <h3> Anos</h3></li>
            <p>Descripcion del trabajo</p>
        </ul>
        <ul>
            <li><h1> Trabajo 3</h1> - <h3> Anos</h3></li>
            <p>Descripcion del trabajo</p>
        </ul>
    </div>
</div>
