.row{padding: 20px;}
div{background-color: #B2DFDB;
    text-align: center;
    }
.button-container{
        display:inline-block;
        position:absolute;
}

/*Estilo de foto de perfil*/
@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 13%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 4%;
        top: 700px;
    }
}

@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 43%;
        top: 680px;
    }
}

/*id de la etiqueta nombre. Se manioulan los margenes y estilos de letra*/
#nombre{
    font-weight: bold;
    margin-top: 15%;
    margin-left: 10px;
}
