    <div class="row">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end col-xs-1">
            <button class="btn btn-outline-light me-md-2" type="button">Editar</button>
            <button class="btn btn-outline-light" type="button">Eliminar</button>
          </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/yo.jpeg" class="img-fluid" id="fotodeperfil">
            <div class="button-container d-grid gap-2 d-md-flex justify-content-md-center col-xs-1">
                <button type="button" class="btn btn-outline-light">Editar</button>
              </div>              
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <div class="d-grid gap-2 d-md-flex justify-content-md-center col-xs-1">
                <button class="btn btn-outline-light me-md-2" type="button">Editar</button>               
              </div>
            <p id="nombre">Siria Barrios</p>
            <p>Full Stack Developer Jr</p>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Acerca de Mí</h1>
                <p>Licenciada en Química con amplios conocimientos en técnicas experimentales y de cálculo computacional. He desarrollado actividades docentes y de investigación científica durante los últimos 8 años. Actualmente busco desarrollar nuevas habilidades en ciencias computacionales, adquiriendo conocimientos en Full Stack Developer.</p>
            </span>
        </div>
    </div>
