.row{padding: 10px;}
div{background-color: #a1b5cd;
    text-align: center;
    }

/*Estilo de foto de perfil*/
@media(min-width: 576px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 3%;
        top: 750px;
    }
}

@media(max-width: 575px){
    #fotodeperfil{
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 40%;
        top: 850px;
    }
}

/*id de la etiqueta nombre. Se manioulan los margenes y estilos de letra*/
#nombre{
    font-weight: bold;
    margin: 20%;
}
