<div class="row">
    <h1>Proyectos</h1>    
    <div class="col-sm-12 col-md-12 col-lg-12 parte1">
        <h2><b>Proyecto desarrollo de portfolio web.</b></h2> 
        <h3>2022-2023</h3>
        <p>Argentina Programa. Adquirir conocimientos teorícos y desarrollar habilidades practícas en distintos lenguajes de programación, testing.</p>
    </div>
        <div class="col-sm-12 col-md-12 col-lg-12 parte1">
            <h2><b>Proyecto de investigacion: Materiales Poliméricos Autorreparables y con Alta Resistencia al Impacto.</b></h2>
            <h3>2019-Actualidad</h3>
            <p> U.N.S., Argentina. Determinación de velocidades de impacto, rebote y/o perforación de partículas con diferentes diámetros, empleando una pistola de gases ligeros. Estudios superficiales de los daños causados por los impactos balíticos sobre distintos materiales poliméricos.</p>
             
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 parte1">
            <h2><b>Proyecto de investigacion: Estudio de las interacciones dispersivas, usando técnicas de calculo de DFT para el sistema cristalino acetileno-benceno.</b></h2> 
            <h3>Incompleto</h3>
            <p>U.L.A, Venezuela. Determinación de la contribución más imprtante de la fuerza de Van der Waals total entre átomos y moláculas, que desempeñan un papel en fenómenos fisicoquímicos importantes.</p>
             
        </div>
</div>
