<div class="row">
    <h1>Hart & Soft Skills</h1>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [title]="'HTML'"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#78C000'"
            [innerStrokeColor]="'#C7E596'"
            [animation]="true"
            [animationDuration]="600"
        ></circle-progress>
    </div>
</div>