  
    <div class="row">
        <h1>Hard & Soft Skills</h1>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [title]="'Analísis de datos experimentales'"
                [titleFontSize]="'10pt'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#F8BBD0'"
                [innerStrokeColor]="'#EC407A'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="65"
                [radius]="100"
                [title]="'Programación digital'"
                [titleFontSize]="'10pt'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#F8BBD0'"
                [innerStrokeColor]="'#EC407A'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [title]="'Expresión Oral'"
                [titleFontSize]="'10pt'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#F8BBD0'"
                [innerStrokeColor]="'#EC407A'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="95"
                [radius]="100"
                [title]="'Resolución de problemas'"
                [titleFontSize]="'10pt'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#F8BBD0'"
                [innerStrokeColor]="'#EC407A'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="90"
                [radius]="100"
                [title]="'Atención al detalle'"
                [titleFontSize]="'10pt'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#F8BBD0'"
                [innerStrokeColor]="'#EC407A'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    
        <div class="col-xs-12 col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [title]="'Manejo de multitareas'"
                [titleFontSize]="'10pt'"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="8"
                [outerStrokeColor]="'#F8BBD0'"
                [innerStrokeColor]="'#EC407A'"
                [animation]="true"
                [animationDuration]="600"
            ></circle-progress>
        </div>
    </div>
