 
 <div class="row">
    <div class="contenedor">
        <div class="logo">
            <img src="../../../assets/descarga.png" id="logo">
        </div>
        <div class="redes">
            <a href=""><img src="../../../assets/LinkedIn.png" id="Linkedin"></a>
            <a href=""><img src="../../../assets/github.png" id="github"></a>
            <a href=""><img src="../../../assets/instagram.jpg" id="instagram"></a>
            <a href=""><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light">INGRESO</button>
        </div>
    </div>
 </div>
